
#rubrik{
  margin-left: 30px;
  font-size: 36px;
}
.filter {
    margin-right: 100px;
    margin-left: 30px;
}
.input{
    height: 40px;
    border-radius: 8px;
    border: 3px solid #f10875;
    margin-left: 5px;
    width: 200px;
    padding-left: 10px;
    margin-bottom: 20px;
}

button{
  background-color: #f10875;
  font-size: 10px;
  margin: 20px;
}


  label{
    font-size: 28px;
    padding-right: 10px;
    color: #f10875;
  }
.selector{
    margin-left: 35px;
}
  .antal{
    font-size: 14px;
    padding-right: 10px;
    color: #f10875;
    margin-bottom: 30px;
    margin-left: 35px;
  }

  @media screen and (max-width: 550px) {
    #rubrik{
      font-size: 24px;
  }
  .filter {
    margin-left: 15px;
}
.input{
  height: 30px;
  margin-left: 5px;
  width: 150px;
  font-size: 10px;
}
label{
  font-size: 20px;
}
.selector{
  margin-left: 15px;
}
  }
  @media only screen and (max-width: 780px) and (min-width: 550px)  {
    #rubrik{
      font-size: 30px;
  }
  .filter {

    margin-left: 20px;
}
.input{
  height: 35px;
  width: 180px;
}
  }