<h2 id="rubrik">Mittuniversitet</h2>
<div >
    <p>Mittuniversitet är ett internationellt universitet som har två kampuser i Sundsvall och Östersund.
        På mittuniversitet har man möjligheten att studera både på plats och på distans. 
        Man kan studera både på grundnivån och på avancerad nivå. 
        På den här webbplatsen kan man se olika kurser inom olika områden exemplevis: bild, fysik, datavetenskap etc.
        Man får välja bland 4328 kurser inom fler än 60 ämnen. Här kan ni se alla kurser, dess poäng och läsa om kursplanen och till slut välja den kurs ni vill!

    </p>
</div>
<div class="containBild"><img src="../assets/bild.jpg"></div>